@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url("https://use.typekit.net/yjv3qed.css");

html {
	font-size: 22px;
}

body {
	width: 1366px;
	margin: 0;
	background-color: white;
	overflow-x: hidden;
}

.fill {
	position: absolute;
	width: 100%;
	height: 2000px;
	background-image: url(baby-back.png);
	background-size: 100% 100%;
	opacity: 0.6;
	z-index: 1000;
	display: none;
}

.header {
	position: absolute;
	width: 1200px;
	height: 0;
	padding-bottom: 570px;
	background-image: url(what-makes-name2.png);
	background-size: 105% 100%;
	opacity: 1;
	z-index: 100;
	margin-left: 2.5%;
	margin-top: 110px;
}

.top-bar {
	width: 0%;
	height: 10px;
	background-color: #2d2d2d;
	position: fixed;
	z-index: 4000;
	transition: all ease-in 0.8s;
}

.pink-bar {
	display: block;
	width: 37.5%;
	height: 4px;
	background-color: #fa8ac6;
	margin-top: 33%;
	margin-left: 4.4%;
	box-shadow: 5px 5px 5px #e7e7e7;
}

.top-white {
	position: absolute;
	width: inherit;
	height: 0;
	padding-bottom: 1200px;
	background-color: white;
	clip-path: polygon(0% 81%,100% 75%,100% 0%,0% 0%);
	z-index: 51;
}

.shadow-add {
	position: absolute;
	width: inherit;
	height: 0;
	padding-bottom: 100%;
	background-image: url(shadow-add.png);
	background-size: 100% 30%;
	margin-top: 700px;
	background-repeat: no-repeat;
	z-index: 50;
	opacity: 0.5;
}

.wrap {
	z-index: 30;
}

.sec2 {
	width: inherit;
	height: 2300px;
	background-color: #8cd7fb;
	clip-path: polygon(0% 96%,100% 100%,100% 0%,0% 0%);
	z-index: 30;
}

.sec3 {
	width: inherit;
	height: 1300px;
	background-color: white;
	z-index: 15;
	margin-top: -10%;
}

.sec4 {
	width: inherit;
	height: 900px;
	background-color: #fa8ac6;
	z-index: 80;
	background-color: #fa8ac6;
	margin-top: 22vw;
}


.hamburger {
	display: block;
	position: absolute;
	right: 0;
	width: 33px;
	height: 25px;
	margin-right: 4.3%;
	margin-top: 75px;
	cursor: pointer;
	z-index: 3800;
	transition: transform ease-in-out 0.3s;
}

.link-container {
	display: none;
	position: absolute;
	width: 200px;
	height: 25px;
	z-index: 3820;
	margin-left: -250px;
	transition: width ease-in 0.3s;
	font-family: 'Lato'
}

.link-tab {
	display: inline-block;
	width: 100px;
	height: 25px;
	float: left;
	font-size: 0.8rem;
	color: #2d2d2d;
}

.link-tab:hover {
	color: #8cd7fb;
}

.h-bar {
	display: block;
	float: left;
	width: 100%;
	height: 4px;
	background-color: #8cd7fb;
	margin-bottom: 6px;
	z-index: 3850;
}

#hb3 {
	width: 70%;
	float: right;
	transition: all ease-in 0.15s;
}

.intro {
	display: block;
	margin-top: 600px;
	margin-left: 20%;
	/*font-family: 'Lato', sans-serif;*/
	color: #a2a2a2;
	font-size: 1rem;
	line-height: 29px;
}

.intro2 {
	display: block;
	margin-top: 200px;
	margin-left: 19%;
	/*font-family: 'Lato', sans-serif;*/
	color: #a2a2a2;
	font-size: 1rem;
	line-height: 29px;
}

.babyNames-1, .babyNames-2, .babyNames-3, .babyNames-4 {
	width: 1366px;
	height: 0;
	padding-bottom: 300px;
	z-index: 3000;
}

.babyNames-1 {
	position: absolute;
	margin-top: 1200px;
}

.babyNames-2 {
	position: absolute;
	margin-top: 1650px;
}

.babyNames-3 {
	position: absolute;
	margin-top: 520px;
}

.babyNames-4 {
	position: absolute;
	margin-top: 30px;
	/*background-color: red;*/
}

.bp-1, .bp-2, .bp-3, .bp-4, .bp-5, .bp-6 {
	display: block;
	width: 50%;
	padding-bottom: inherit;
	float: left;
}

.bp-1, .bp-3 {
	/*background-color: orange;*/
}
.bp-3 {
	background-color: black;
}

.bp-2, .bp-4 {
	/*background-color: white;*/
}

.bp-6 {
	background-color: lightblue;
}

.p1, .p2, .p3, .p4, .p5 {
	display: block;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	line-height: 29px;
	color: white;
}

.p1, .p3, .p5 {
	margin-left: 38%;
	margin-top: 100px;
}

.p2, .p4 {
	margin-left: 16%;
	margin-top: 100px;
}

.p5 {
	color: #8a8c8e;
}

.data-page {
	position: absolute;
	width: 100%;
	height: 2300px;
	background-image: url(data-Page.png);
	background-size: 100% 100%;
	opacity: 0.4;
	z-index: 5000;
	margin-top: 2050px;
	display: none;
}

.dark-line {
	position: absolute;
	display: block;
	width: 31.6rem;
	height: 3px;
	background-color: #aaadaf;
	margin-left: 18.7vw;
}

#w-line {
	background-color: white;
}

.the-girls {
	position: absolute;
	width: inherit;
	height: 150px;
	background-color: white;
	text-align: center;
}

.shadow-2 {
	width: inherit;
	height: 0;
	padding-bottom: 35%;
	background-color: white;
	background-image: url(shadow-add2.png);
	background-size: 100% 100%;
	margin-top: -28.5%;
}

.girl-dates {
	display: none;
	width: inherit;
	height: 100px;
	background-color: white;
	display: inline-block;
	margin-top: 800px;
	text-align: center;
}

.girl-dates-fixed {
	display: none;
	position: fixed;
	width: inherit;
	height: 100px;
	background-color: white;
	text-align: center;
	z-index: 2000;
	bottom: 0;
}

.year-container {
	width: 900px;
	height: 50px;
	display: inline-block;
	margin-top: 10px;
	margin-left: -200px;
}

.year {
	display: inline-block;
	width: 3.481px;
	height: 50px;
	float: left;
	font-size: 0px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #fa8ac6;
	/*transition: width 0.2s;*/
}

.year2 {
	display: inline-block;
	width: 100px;
	height: 50px;
	float: left;
	font-size: 0px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #fa8ac6;
	color: black;
	background-color: red;
}

#y1 {
	font-size: 20px;
	width: 75px;
	font-weight: 900;
	opacity: 0.7;
	text-align: right;
	text-indent: 50px;
}

#y2 {
	font-size: 25px;
	z-index: 100;
	overflow-x: visible;
	text-overflow: string;
	width: 150px;
	font-weight: 900;
	font-size: 1.7rem;
	line-height: 35px;
}

#y3 {
	font-size: 20px;
	width: 75px;
	font-weight: 900;
	opacity: 0.7;
	text-align: left;
	text-indent: -20px;
}

.year:nth-of-type(80){
	font-size: 20px;
	width: 100px;
	font-weight: 900;
	opacity: 0.7;
	text-align: right;
	text-indent: 75px;
}

.year:nth-of-type(81){
	font-size: 25px;
	z-index: 100;
	overflow-x: visible;
	text-overflow: string;
	width: 150px;
	font-weight: 900;
	font-size: 1.7rem;
	line-height: 35px;
}

.year:nth-of-type(82){
	font-size: 20px;
	width: 100px;
	font-weight: 900;
	opacity: 0.7;
	text-align: left;
	text-indent: -20px;
}

.graph-activate {
	position: absolute;
	width: inherit;
	display: block;
	height: 50px;
	margin-top: 150px;
}

.long {
	display: none;
	width: inherit;
	height: 9200px;
	background-color: #fa8ac6;
}


.graph {
	position: fixed;
	width: 800px;
	height: 444.44px;
	margin-top: 200px;
	margin-left: 185px;
}

.go-to-boys {
	display: none;
	position: fixed;
	width: 100px;
	height: 60px;
	background-color: lightblue;
	z-index: 3000;
	margin-top: 25%;
	margin-left: 47%;
}

.small-header {
	display: block;
	position: absolute;
	width: 300px;
	height: 72px;
	margin-left: 240px;
	margin-top: 10px;
	background-image: url(background.png);
	background-size: 100% 100%;
}

.small-header-2 {
	display: block;
	position: absolute;
	width: 300px;
	height: 72px;
	margin-left: 240px;
	margin-top: 110px;
	background-image: url(the-data.png);
	background-size: 100% 100%;
}

.first-up {
	position: absolute;
	display: block;
	width: 450px;
	height: 110px;
	margin-left: 370px;
	margin-top: 20px;
	background-image: url(first-up.png);
	background-size: 100% 100%;
}

.inner-year {
	position: absolute;
	display:block;
	width: 300px;
	height: 50px;
	background-color: orange;
	margin-left: 300px;
}

.name-container {
	position: absolute;
	display: block;
	width: 130px;
	height: 243px;
	display: none;
}

.nc1 {
	margin-left: -130px;
	margin-top: -17px;
}

.nc2 {
	margin-left: 780px;
	margin-top: -17px;
}

.name-list-1 {
	display: block;
	width: 130px;
	height: 22.5px;
	float: left;
	background-color: #ffe6f3;
	margin-bottom: 2px;
}

.name-list-1:nth-of-type(odd){
	background-color: white;
}

.name {
	position: absolute;
	display: block;
	float: left;
	width: 85px;
	height: 22.5px;
	margin-top: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-indent: 5px;
	color: #2d2d2d;
}


/**/
